body {
  width: 520px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 12px;
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; }

h1 {
  font-size: 140%;
  color: #646564;
  padding-top: 4px;
  padding-bottom: 10px;
  margin: 0;
  border-bottom: 1px solid white; }

h2 {
  font-size: 120%;
  color: #333;
  padding-top: 0px;
  padding-bottom: 5px;
  padding-right: 10px;
  margin: 0; }

h3 {
  font-size: 100%;
  color: #545456;
  margin-bottom: 6px;
  margin-top: 15px;
  padding-bottom: 3px; }

#splash {
  display: block;
  width: 500px;
  height: 500px; }

#splash.blank {
  background-image: url("splash_screens/blank.png"); }

/* --------------------- TAB - WYSWIETLANIE -------------------- */
#page_type_edit label, #fan_gate_edit label {
  cursor: pointer; }

#page_type_desc, #fan_gate_desc, #language_desc, #language_loader {
  padding: 0;
  padding-left: 0;
  line-height: 1.4;
  font-size: 1em; }

#language_loader img {
  margin-top: 3px;
  margin-left: 5px; }

/* --------------------------------------------------------------*/
#footer_on_page {
  text-align: center;
  color: #999;
  font-size: 0.9em; }

.box .width_to_button {
  width: 405px; }

.underline {
  border-bottom: 1px solid #CCC; }

.container .box {
  border: 1px solid #CCC;
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
  background-color: #fbfbfb; }

.container .box, .padding {
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px; }

.clear_spacing {
  padding: 0;
  margin: 0; }

.fit_to_button {
  padding-top: 5px; }

.header_tip {
  margin: 0;
  padding: 0;
  margin-top: -5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-size: 0.9em; }

.block {
  display: block; }

.clear {
  clear: both; }

.height_5 {
  height: 5px; }

.height_10 {
  height: 10px; }

.fade {
  opacity: 0.8; }

.bold {
  font-weight: bold; }

.tip {
  color: #777;
  font-size: 90%; }

.right {
  float: right; }

.left {
  float: left;
  margin-right: 10px; }

.highlight_text {
  color: #1C94C4;
  font-weight: bold; }

#controls {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px dashed #CCC; }

/* flash tooltips */
.flash {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 .7em; }

.flash_icon {
  float: left;
  margin-right: .3em; }

.progressbar {
  display: block;
  background-image: url("file-loader.gif");
  background-repeat: no-repeat;
  background-position: right top;
  height: 20px;
  width: 215px;
  padding-top: 10px; }

.progressbar .tip {
  margin-top: 10px;
  position: absolute; }
