- if page_admin?
  = content_for :head do
    :javascript
      var selected_tab=0; // selected tab on admin controls ('wyswietlanie')
      #{open_specific_tab} // based on "selected_tab" variable

  = content_for :controls do
    = render :partial => "controls"

#page
  Sample Content
